@font-face {
  font-family: "crimsonReg";
  src: url(/fonts/crimson-text/CrimsonText-Regular.ttf);
}

@font-face {
  font-family: "crimsonBold";
  src: url(/fonts/crimson-text/CrimsonText-Bold.ttf);
}

@font-face {
  font-family: "cormorantGaramondReg";
  src: url(/fonts/cormorant-garamond/CormorantGaramond-Regular.ttf);
}

@font-face {
  font-family: "cormorantGaramondItalic";
  src: url(/fonts/cormorant-garamond/CormorantGaramond-Italic.ttf);
}

@font-face {
  font-family: "cormorantGaramondBold";
  src: url(/fonts/cormorant-garamond/CormorantGaramond-Bold.ttf);
}

body{
    margin: 0;
    padding: 0;
}

header{
  background-color: rgba(0, 0, 0, 0.5);
}


/* nav */

nav {
    /* background-color: #264c44; */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    
  }

  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  #nav_img{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  
  #nav_img a img{
    width: 180px;
    height: 105px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
    margin-top: 1.5vw;
    
  }
  #nav_img a{
    grid-column: 2;
  }
  
  nav ul li {
    display: inline-block;
    width: 25%;
  }
  
  nav ul li a {
    display: block;
    color: #efe2c6;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    font-family: "cormorantGaramondBold";
  }
  
  nav ul li a:hover {
    color: #efe2c6;
  }
  
  nav ul li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #efe2c6;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  nav ul li a:hover::before {
    transform: scaleX(1);
  }
    

  
/* nav */

/* Footer */

footer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    color: #efe2c6;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(62, 61, 61, 0.5);
    backdrop-filter: blur(5px);
    height: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    font-family: "crimsonReg";
}

footer h3 {
  grid-column: 2;
  text-align: center;
  padding-top: 1vw;
}
footer #h3_1 {
  grid-column: 1;
  text-align: center;
  padding-top: 1vw;
}

footer #h3_2{
  display: flex;
  /* justify-content: space-evenly; */
  padding-top: 1vw;
  padding-left: 10vw;
  grid-column: 3;
  text-align: center;
  list-style-type: none;
  gap: 1em;

}

/* Footer */

