img{
    max-width: 100%;
}

main {
    background-color: #555;
    height: auto;
}

.om-os{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.grid1-2{
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column: 2/3;
    margin-left: 3vw;
    margin-right: 3vw;
    gap: 3vw;
    /* text-align: center; */
    padding-top: 5vw;
}

.grid1-2 section{
    /* margin-top: 1vw; */
    vertical-align: middle;
}

.grid1-2 p,h2{
    padding-left: 3vw;
    padding-right: 3vw;
}

section p:last-child{
    font-size: 2vw;
}

section p:nth-child(-n+3){
    font-style: italic
}

.filler1{
    width: 105%;
}

/* #OHLogo{
    text-align: center;
    padding: 3vw;
    margin: 3vw;
    background-color: black;
    color: white;
    grid-column: 2/3;
    border-radius: 50%;
    border: solid rgb(200, 200, 200) 3px;
} */

section h2{
    text-align: center;
}

#logoGrid{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

#OHLogo{
    grid-column: 2/3;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

h1, h2, p{
    color: white;
}

h2{
    font-size: 2vw;
}

.grid1-2 section{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1.5vw;
}

footer h1,h2,p{
    color: black;
}