body{
    background-image: url(/img/background_bar.webp);
    background-size: cover;
    background-attachment: fixed;
    /* height: 100vh; */
    background-position: center center;
}

header{
}

main {
    height: auto;
}

#background_opacity{
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    width: auto;
}

main h2{
    color: white;
    margin: 0%;
    font-size: 3vw;
}

main h3{
    color: white;
    font-size: 2.2vw;
}

main p{
    color: white;
    font-size: 1.8vw;
}

footer{
}

/* åbningstider */

#opening-time{

    text-align: center;
    padding: 3vw;
}

main ul{
    padding: 0px;
    color: white;
    font-size: 1.5vw;
}

main ul li{
   list-style-type: none;
}

/* guide */

#guide{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#information{
    grid-column: 1/2;
    padding: 2.5vw;
}

#map{
    grid-column: 2/3;
    width: 100%;
    width: 100%;
    left: 0;
    top: 0;
}