@font-face {
    font-family: "crimsonReg";
    src: url(/fonts/crimson-text/CrimsonText-Regular.ttf);
}

@font-face {
    font-family: "crimsonBold";
    src: url(/fonts/crimson-text/CrimsonText-Bold.ttf);
}

@font-face {
    font-family: "cormorantGaramondReg";
    src: url(/fonts/cormorant-garamond/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: "cormorantGaramondItalic";
    src: url(/fonts/cormorant-garamond/CormorantGaramond-Italic.ttf);
}

@font-face {
    font-family: "cormorantGaramondBold";
    src: url(/fonts/cormorant-garamond/CormorantGaramond-Bold.ttf);
}

body{
    background-image: url(/img/background_bar.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    /* min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto; */
}

main {
    width: auto;
    height: auto;
}

#background_opacity{
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    width: auto;
}

#udvalg{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    gap: 4vw;
    /* padding-top: 10vw; */
    justify-content: center;


}

button{
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    color: #efe2c6;
    border: none;
    border-radius: 1.5vw;
    text-align: center;
    font-size: 3.5vw;
    cursor: pointer;
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: "cormorantGaramondBold";
    font-size: 4vw;
}

#pdf-holder{
    width: auto;
    height: 700px;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5%;
}

/* embed er skrevet direkte i html*/


.hide{
    display: none;
}